<footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">

        <!--First row-->
        <div class="row mb-2 wow fadeIn" data-wow-delay="0.3s">

            <!--First column-->
            <div class="col-lg-6 offset-lg-3 text-center smooth-scroll">

                <!--Icon-->
                <i class="fa fa-users fa-4x light-green-text-2 pt-1 pb-2"></i>
                <!--Title-->
                <h2 class="mb-2 bold-font">Meet for coffee</h2>
                <!--Description-->
                <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <!--Reservation button-->
                <a href="#contact" data-offset="100" class="btn btn-rounded btn-light-green-2">Book dates</a>

            </div>
            <!--/First column-->

        </div>
        <!--/First row-->

        <hr>

        <!--Second row-->
        <div class="row mt-2 mb-1 text-center wow fadeIn" data-wow-delay="0.3s">

            <!--First column-->
            <div class="col-xl-3 offset-xl-2 col-md-4">

                <!--Title-->
                <h5 class="title">Opening hours</h5>

                <!--Opening hours table-->
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Mon - Thu:</td>
                            <td>8am - 9pm</td>
                        </tr>
                        <tr>
                            <td>Fri - Sat:</td>
                            <td>8am - 1am</td>
                        </tr>
                        <tr>
                            <td>Sunday:</td>
                            <td>9am - 10pm</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--/First column-->

            <hr class="w-100 hidden-md-up">

            <!--Second column-->
            <div class="col-xl-2 col-md-4">

                <!--Title-->
                <h5 class="title">Location</h5>

                <!--Address-->
                <p>
                    2633 Vista Pkwy,<br>
                    West Palm Beach, FL 33411<br>

                    <!--Title-->
                    <h5 class="title">Contact</h5>

                    <!--Contact info-->
                <p>
                    eMining<br>
                    +01(561)853-8015<br>
                    admin@eMining.co
                </p>

            </div>
            <!--/Second column-->

            <hr class="w-100 hidden-md-up">

            <!--Third column-->
            <div class="col-xl-2 col-md-4">

                <!--Title-->
                <h5 class="title">Stay in touch</h5>

                <!--Social buttons-->
                <ul class="inline-ul">
                    <li><a class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a></li>
                    <li><a class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a></li>
                    <li><a class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a></li>
                </ul>
                <!--/Social buttons-->

            </div>
            <!--/Third column-->

        </div>
        <!--/Second row-->

    </div>
    <!--/Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            © 2016 Copyright: <a href="https://www.eMining.co" rel="nofollow"> eMining.co </a>

        </div>
    </div>
    <!--/Copyright-->
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/js")
@section FooterRender {
    @RenderSection("scripts", required: false)
}
