<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="icon" type="image/png" href="@Url.Content("~/Content/Images/Icons/eM_icons/4_Ico_Icons/icon_512.ico")">
<title>@ViewBag.Title - eMining</title>
<meta name="description" content="Ethereum is the currency of the future & eMining is a leading cloud mining company on the market. Mine Ethereum through the cloud, get started today!">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<!-- bootstrap.css & mdb.css & Site.Css -->
@Styles.Render("~/bundles/css")